.nav {
  background-color: black;
  color: white;
  padding: 10px;
}

.nav-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.apple-icon,
.search-icon,
.cart-icon {
  font-size: 20px;
}
